name: lint

on:
  workflow_call:
    branches: [main]
  push:
    branches: [ main ]

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: Format with black
      run: |
        black --diff --check $(git ls-files '*.py')

    - name: Lint with pylint, mypy
      run: |
        pylint src/ tests/
        mypy src/ tests/
